swagger: '2.0'
info:
  title: Baton Auth Server
  description: "Baton\uC758 \uB85C\uADF8\uC778, \uD68C\uC6D0\uAC00\uC785 \uAE30\uB2A5\
    \uC744 \uD3EC\uD568\uD569\uB2C8\uB2E4."
  contact:
    email: jseoplim@gmail.com
  version: 0.0.1
host: baton.yonghochoi.com
schemes:
  - http
basePath: /
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  Basic:
    type: basic
security:
  - Basic: []
paths:
  /health:
    get:
      operationId: health_list
      description: health check
      parameters: []
      responses:
        '200':
          description: ''
      tags:
        - health
    parameters: []
  /login/kakao:
    post:
      operationId: login_kakao_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/KaKaoLogin'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/TokenObtainPair'
      tags:
        - login
    parameters: []
  /socialusers:
    post:
      operationId: socialusers_create
      description: "\uD68C\uC6D0\uAC00\uC785"
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/SocialUserCreate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/TokenObtainPair'
      tags:
        - socialusers
    parameters: []
  /socialusers/{id}:
    delete:
      operationId: socialusers_delete
      description: "\uD68C\uC6D0\uD0C8\uD1F4"
      parameters: []
      responses:
        '200':
          description: "\uC0AD\uC81C\uAC00 \uC644\uB8CC\uB418\uC5C8\uC2B5\uB2C8\uB2E4\
            ."
      tags:
        - socialusers
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this social user.
        required: true
        type: integer
  /token/refresh:
    post:
      operationId: token_refresh_create
      description: |-
        Takes a refresh type JSON web token and returns an access type JSON web
        token if the refresh token is valid.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/TokenRefresh'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/TokenRefresh'
      tags:
        - token
    parameters: []
  /token/verify:
    post:
      operationId: token_verify_create
      description: |-
        Takes a token and indicates if it is valid.  This view provides no
        information about a token's fitness for a particular use.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/TokenVerify'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/TokenVerify'
      tags:
        - token
    parameters: []
definitions:
  KaKaoLogin:
    required:
      - access_token
    type: object
    properties:
      access_token:
        title: Access token
        description: "Kakao \uC11C\uBC84 \uC778\uC99D\uC744 \uC704\uD55C Access Token"
        type: string
        minLength: 1
  TokenUser:
    type: object
    properties:
      id:
        title: ID
        description: User ID
        type: integer
        readOnly: true
  TokenObtainPair:
    required:
      - id
      - password
    type: object
    properties:
      access_token:
        title: Access token
        description: "Baton App \uC778\uC99D\uC744 \uC704\uD55C Access Token"
        type: string
        readOnly: true
        minLength: 1
      expires_in:
        title: Expires in
        type: integer
        readOnly: true
      refresh_token:
        title: Refresh token
        description: "Baton App Access Token \uAC31\uC2E0\uC744 \uC704\uD55C Refresh\
          \ Token"
        type: string
        readOnly: true
        minLength: 1
      refresh_token_expires_in:
        title: Refresh token expires in
        type: integer
        readOnly: true
      user:
        $ref: '#/definitions/TokenUser'
      id:
        title: Id
        type: string
        minLength: 1
      password:
        title: Password
        type: string
        minLength: 1
  Account:
    required:
      - holder
      - bank
      - number
    type: object
    properties:
      holder:
        title: Holder
        description: "\uC608\uAE08\uC8FC"
        type: string
        minLength: 1
      bank:
        title: Bank
        description: "\uC740\uD589"
        type: string
        minLength: 1
      number:
        title: Number
        description: "\uACC4\uC88C\uBC88\uD638"
        type: string
        minLength: 1
  UserCreate:
    required:
      - name
      - nickname
      - phone_number
      - latitude
      - longitude
      - address
      - detailed_address
      - check_terms_of_service
      - check_privacy_policy
    type: object
    properties:
      name:
        title: Name
        type: string
        minLength: 1
      nickname:
        title: Nickname
        type: string
        minLength: 1
      phone_number:
        title: Phone number
        type: string
        minLength: 1
      account:
        $ref: '#/definitions/Account'
      latitude:
        title: Latitude
        type: number
      longitude:
        title: Longitude
        type: number
      address:
        title: Address
        type: string
        minLength: 1
      detailed_address:
        title: Detailed address
        type: string
        minLength: 1
      check_terms_of_service:
        title: Check terms of service
        type: boolean
      check_privacy_policy:
        title: Check privacy policy
        type: boolean
  SocialUserCreate:
    required:
      - uid
      - provider
      - user
    type: object
    properties:
      uid:
        title: Uid
        type: string
        maxLength: 255
        minLength: 1
      provider:
        title: Provider
        type: string
        maxLength: 255
        minLength: 1
      user:
        $ref: '#/definitions/UserCreate'
  TokenRefresh:
    required:
      - refresh_token
    type: object
    properties:
      access_token:
        title: Access token
        type: string
        readOnly: true
        minLength: 1
      expires_in:
        title: Expires in
        type: integer
        readOnly: true
      refresh_token:
        title: Refresh token
        type: string
        minLength: 1
      refresh_token_expires_in:
        title: Refresh token expires in
        type: integer
        readOnly: true
  TokenVerify:
    required:
      - access_token
    type: object
    properties:
      access_token:
        title: Access token
        type: string
        minLength: 1
      expires_in:
        title: Expires in
        type: integer
        readOnly: true
