swagger: '2.0'
info:
  title: Baton User API
  description: "Baton\uC758 \uB9C8\uC774\uD398\uC774\uC9C0, \uAD00\uC2EC\uC0C1\uD488\
    , \uAD6C\uB9E4 \uAD00\uB828 API\uB97C \uB2F4\uACE0 \uC788\uC2B5\uB2C8\uB2E4."
  contact:
    email: jseoplim@gmail.com
  version: 0.0.1
host: baton.yonghochoi.com
schemes:
  - https
basePath: /user
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  Remote-User:
    type: apiKey
    name: Remote-User
    in: header
security:
  - Remote-User: []
paths:
  /bookmarks:
    post:
      operationId: bookmarks_create
      description: "Bookmark instance \uC0DD\uC131"
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Bookmark'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Bookmark'
      tags:
        - bookmarks
    parameters: []
  /bookmarks/{id}:
    get:
      operationId: bookmarks_read
      description: "Bookmark instance \uC0C1\uC138, \uC0AD\uC81C"
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Bookmark'
      tags:
        - bookmarks
    delete:
      operationId: bookmarks_delete
      description: "Bookmark instance \uC0C1\uC138, \uC0AD\uC81C"
      parameters: []
      responses:
        '200':
          description: "\uC0AD\uC81C\uAC00 \uC644\uB8CC\uB418\uC5C8\uC2B5\uB2C8\uB2E4\
            ."
      tags:
        - bookmarks
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this bookmark.
        required: true
        type: integer
  /buys:
    post:
      operationId: buys_create
      description: |-
        Reserve a ticket.
        Buy instance 생성 (state 0 -> 1)
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/BuyCreate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/BuyCreate'
      tags:
        - buys
    parameters: []
  /buys/{id}:
    get:
      operationId: buys_read
      description: "\uAD6C\uB9E4/\uC608\uC57D \uC0C1\uC138 \uC870\uD68C, \uC218\uC815\
        , \uC0AD\uC81C"
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/BuyDetail'
      tags:
        - buys
    put:
      operationId: buys_update
      description: "\uAD6C\uB9E4/\uC608\uC57D \uC0C1\uC138 \uC870\uD68C, \uC218\uC815\
        , \uC0AD\uC81C"
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/BuyDetail'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/BuyDetail'
      tags:
        - buys
    patch:
      operationId: buys_partial_update
      description: "\uAD6C\uB9E4/\uC608\uC57D \uC0C1\uC138 \uC870\uD68C, \uC218\uC815\
        , \uC0AD\uC81C"
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/BuyDetail'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/BuyDetail'
      tags:
        - buys
    delete:
      operationId: buys_delete
      description: |-
        Cancel Reservation.
        Buy instance 삭제 (ticket state 1,2 -> 0)
      parameters: []
      responses:
        '200':
          description: "\uC0AD\uC81C\uAC00 \uC644\uB8CC\uB418\uC5C8\uC2B5\uB2C8\uB2E4\
            ."
      tags:
        - buys
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this buy.
        required: true
        type: integer
  /health:
    get:
      operationId: health_list
      description: health check
      parameters: []
      responses:
        '200':
          description: ''
      tags:
        - health
    parameters: []
  /users:
    post:
      operationId: users_create
      description: "\uC0AC\uC6A9\uC790 \uC0DD\uC131 (\uD68C\uC6D0\uAC00\uC785)"
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/UserCreate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/UserCreate'
      tags:
        - users
    parameters: []
  /users/{id}:
    get:
      operationId: users_read
      description: "\uB9C8\uC774\uD398\uC774\uC9C0; \uC0AC\uC6A9\uC790ID\uAC00 {id}\uC778\
        \ \uC0AC\uC6A9\uC790\uC758 \uC0C1\uC138 \uC815\uBCF4"
      parameters:
        - name: id
          in: path
          description: "\uC0AC\uC6A9\uC790ID"
          type: integer
          required: true
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/UserDetail'
      tags:
        - users
    put:
      operationId: users_update
      description: "\uB9C8\uC774\uD398\uC774\uC9C0 (+\uD68C\uC6D0\uD0C8\uD1F4)"
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/UserUpdate'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/UserUpdate'
      tags:
        - users
    patch:
      operationId: users_partial_update
      description: "\uC815\uBCF4\uC218\uC815; \uC0AC\uC6A9\uC790ID\uAC00 {id}\uC778\
        \ \uC0AC\uC6A9\uC790\uC758 \uC815\uBCF4 \uC218\uC815"
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/UserUpdate'
        - name: id
          in: path
          description: "\uC0AC\uC6A9\uC790ID"
          type: integer
          required: true
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/UserUpdate'
      tags:
        - users
    delete:
      operationId: users_delete
      description: "\uD68C\uC6D0\uD0C8\uD1F4; \uC0AC\uC6A9\uC790ID\uAC00 {id}\uC778\
        \ \uC0AC\uC6A9\uC790 \uC0AD\uC81C"
      parameters:
        - name: id
          in: path
          description: "\uC0AC\uC6A9\uC790ID"
          type: integer
          required: true
      responses:
        '204':
          description: ''
      tags:
        - users
    parameters:
      - name: id
        in: path
        description: A unique value identifying this user.
        required: true
        type: integer
  /users/{id}/address:
    get:
      operationId: users_address_read
      description: "\uC0AC\uC6A9\uC790 \uC8FC\uC18C \uC218\uC815"
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/UserAddress'
      tags:
        - users
    put:
      operationId: users_address_update
      description: "\uC0AC\uC6A9\uC790 \uC8FC\uC18C \uC218\uC815"
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/UserAddress'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/UserAddress'
      tags:
        - users
    patch:
      operationId: users_address_partial_update
      description: "\uC0AC\uC6A9\uC790 \uC8FC\uC18C \uC218\uC815"
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/UserAddress'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/UserAddress'
      tags:
        - users
    parameters:
      - name: id
        in: path
        description: A unique value identifying this user.
        required: true
        type: integer
  /users/{id}/bookmarks:
    get:
      operationId: users_bookmarks_list
      description: "\uAD00\uC2EC\uC0C1\uD488; \uC0AC\uC6A9\uC790ID\uAC00 {id}\uC778\
        \ \uC0AC\uC6A9\uC790\uC758 \uAD00\uC2EC\uC0C1\uD488 \uBAA9\uB85D"
      parameters:
        - name: id
          in: path
          description: "\uC0AC\uC6A9\uC790ID"
          type: integer
          required: true
        - name: state
          in: query
          description: "\uC870\uD68C\uD560 \uC591\uB3C4\uAD8C \uC0C1\uD0DC ((blank):\
            \ \uC804\uCCB4, 0: \uD310\uB9E4\uC911, 1: \uC608\uC57D\uC911, 2: \uD310\
            \uB9E4\uC644\uB8CC)"
          type: string
          default: ''
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/UserBookmark'
      tags:
        - users
    parameters:
      - name: id
        in: path
        required: true
        type: string
  /users/{id}/buys:
    get:
      operationId: users_buys_list
      description: "\uAD6C\uB9E4\uB0B4\uC5ED; \uC0AC\uC6A9\uC790ID\uAC00 {id}\uC778\
        \ \uC0AC\uC6A9\uC790\uAC00 \uAD6C\uB9E4\uD55C \uC591\uB3C4\uAD8C \uBAA9\uB85D"
      parameters:
        - name: id
          in: path
          description: "\uC0AC\uC6A9\uC790ID"
          type: integer
          required: true
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/UserBuy'
      tags:
        - users
    parameters:
      - name: id
        in: path
        required: true
        type: string
  /users/{id}/image:
    get:
      operationId: users_image_read
      description: "\uD504\uB85C\uD544 \uC774\uBBF8\uC9C0"
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/UserImage'
      consumes:
        - multipart/form-data
      tags:
        - users
    put:
      operationId: users_image_update
      description: "\uD504\uB85C\uD544 \uC774\uBBF8\uC9C0"
      parameters:
        - name: image
          in: formData
          required: true
          type: file
          x-nullable: true
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/UserImage'
      consumes:
        - multipart/form-data
      tags:
        - users
    patch:
      operationId: users_image_partial_update
      description: "\uD504\uB85C\uD544 \uC774\uBBF8\uC9C0"
      parameters:
        - name: image
          in: formData
          required: true
          type: file
          x-nullable: true
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/UserImage'
      consumes:
        - multipart/form-data
      tags:
        - users
    delete:
      operationId: users_image_delete
      description: "\uD504\uB85C\uD544 \uC774\uBBF8\uC9C0"
      parameters: []
      responses:
        '200':
          description: "\uC0AD\uC81C\uAC00 \uC644\uB8CC\uB418\uC5C8\uC2B5\uB2C8\uB2E4\
            ."
      consumes:
        - multipart/form-data
      tags:
        - users
    parameters:
      - name: id
        in: path
        description: A unique value identifying this user.
        required: true
        type: integer
  /users/{id}/sells:
    get:
      operationId: users_sells_list
      description: "\uD310\uB9E4\uB0B4\uC5ED; \uC0AC\uC6A9\uC790ID\uAC00 {id}\uC778\
        \ \uC0AC\uC6A9\uC790\uAC00 \uD310\uB9E4\uD55C \uC591\uB3C4\uAD8C \uBAA9\uB85D"
      parameters:
        - name: id
          in: path
          description: "\uC0AC\uC6A9\uC790ID"
          type: integer
          required: true
        - name: state
          in: query
          description: "\uC870\uD68C\uD560 \uC591\uB3C4\uAD8C \uC0C1\uD0DC (0: \uD310\
            \uB9E4\uC911, 2: \uD310\uB9E4\uC644\uB8CC)"
          type: string
          default: 0
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/TicketList'
      tags:
        - users
    parameters:
      - name: id
        in: path
        required: true
        type: string
  /users/{user}/account:
    get:
      operationId: users_account_read
      description: "\uB9C8\uC774\uD398\uC774\uC9C0 \uACC4\uC88C \uC124\uC815"
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Account'
      tags:
        - users
    put:
      operationId: users_account_update
      description: "\uB9C8\uC774\uD398\uC774\uC9C0 \uACC4\uC88C \uC124\uC815"
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Account'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Account'
      tags:
        - users
    delete:
      operationId: users_account_delete
      description: "\uB9C8\uC774\uD398\uC774\uC9C0 \uACC4\uC88C \uC124\uC815"
      parameters: []
      responses:
        '200':
          description: "\uC0AD\uC81C\uAC00 \uC644\uB8CC\uB418\uC5C8\uC2B5\uB2C8\uB2E4\
            ."
      tags:
        - users
    parameters:
      - name: user
        in: path
        required: true
        type: string
definitions:
  Bookmark:
    required:
      - user
      - ticket
    type: object
    properties:
      id:
        title: ID
        description: Bookmark ID
        type: integer
        readOnly: true
      user:
        title: User
        description: User ID(integer)
        type: integer
      ticket:
        title: Ticket
        description: Ticket ID
        type: integer
  BuyCreate:
    required:
      - user
      - ticket
    type: object
    properties:
      id:
        title: ID
        description: Buy ID
        type: integer
        readOnly: true
      user:
        title: User
        description: User ID(integer)
        type: integer
      ticket:
        title: Ticket
        description: Ticket ID
        type: integer
      date:
        title: Date
        description: "\uAD6C\uB9E4\uC77C\uC2DC"
        type: string
        format: date-time
        x-nullable: true
  BuyDetail:
    required:
      - date
    type: object
    properties:
      id:
        title: ID
        description: Buy ID
        type: integer
        readOnly: true
      user:
        title: User
        description: "User ID(integer); POST\uC694\uCCAD \uC2DC \uBBF8\uD3EC\uD568"
        type: integer
        readOnly: true
      ticket:
        title: Ticket
        description: "Ticket ID; POST\uC694\uCCAD \uC2DC \uBBF8\uD3EC\uD568"
        type: integer
        readOnly: true
      date:
        title: Date
        description: "\uAD6C\uB9E4\uC77C\uC2DC"
        type: string
        format: date-time
        x-nullable: true
  Account:
    required:
      - holder
      - bank
      - number
    type: object
    properties:
      holder:
        title: Holder
        type: string
        maxLength: 255
        minLength: 1
      bank:
        title: Bank
        type: string
        maxLength: 255
        minLength: 1
      number:
        title: Number
        type: string
        maxLength: 255
        minLength: 1
  UserCreate:
    required:
      - id
      - name
      - nickname
      - phone_number
      - latitude
      - longitude
      - address
      - check_terms_of_service
      - check_privacy_policy
    type: object
    properties:
      id:
        title: Id
        type: integer
      name:
        title: Name
        type: string
        maxLength: 255
        minLength: 1
      nickname:
        title: Nickname
        type: string
        maxLength: 255
        minLength: 1
      phone_number:
        title: Phone number
        type: string
        maxLength: 255
        minLength: 1
      account:
        $ref: '#/definitions/Account'
      latitude:
        title: Latitude
        type: number
      longitude:
        title: Longitude
        type: number
      address:
        title: Address
        type: string
        maxLength: 255
        minLength: 1
      detailed_address:
        title: Detailed address
        type: string
        maxLength: 255
      check_terms_of_service:
        title: Check terms of service
        type: boolean
      check_privacy_policy:
        title: Check privacy policy
        type: boolean
  UserDetail:
    required:
      - id
      - name
      - nickname
      - phone_number
      - account
      - latitude
      - longitude
      - address
    type: object
    properties:
      id:
        title: Id
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      name:
        title: Name
        type: string
        maxLength: 255
        minLength: 1
      nickname:
        title: Nickname
        type: string
        maxLength: 255
        minLength: 1
      phone_number:
        title: Phone number
        type: string
        maxLength: 255
        minLength: 1
      created_on:
        title: Created on
        type: string
        format: date
        readOnly: true
      account:
        $ref: '#/definitions/Account'
      latitude:
        title: Latitude
        type: number
      longitude:
        title: Longitude
        type: number
      address:
        title: Address
        type: string
        maxLength: 255
        minLength: 1
      detailed_address:
        title: Detailed address
        type: string
        maxLength: 255
      image:
        title: Image
        type: string
        readOnly: true
        x-nullable: true
        format: uri
  UserUpdate:
    required:
      - nickname
      - phone_number
    type: object
    properties:
      nickname:
        title: Nickname
        type: string
        maxLength: 255
        minLength: 1
      phone_number:
        title: Phone number
        type: string
        maxLength: 255
        minLength: 1
  UserAddress:
    required:
      - latitude
      - longitude
      - address
    type: object
    properties:
      latitude:
        title: Latitude
        type: number
      longitude:
        title: Longitude
        type: number
      address:
        title: Address
        type: string
        maxLength: 255
        minLength: 1
      detailed_address:
        title: Detailed address
        type: string
        maxLength: 255
  TicketList:
    required:
      - location
      - address
      - price
      - mainImage
      - createAt
      - images
      - isMembership
      - remainingNumber
      - expiryDate
      - latitude
      - longitude
    type: object
    properties:
      id:
        title: ID
        description: Ticket ID
        type: integer
        readOnly: true
      location:
        title: Location
        type: string
        maxLength: 255
        minLength: 1
      address:
        title: Address
        type: string
        maxLength: 255
        minLength: 1
      price:
        title: Price
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      mainImage:
        title: Mainimage
        type: string
        minLength: 1
      createAt:
        title: Createat
        type: string
        format: date-time
      state:
        title: State
        type: string
        readOnly: true
      tags:
        type: array
        items:
          type: string
        readOnly: true
        uniqueItems: true
      images:
        type: array
        items:
          type: integer
        uniqueItems: true
      isMembership:
        title: Ismembership
        type: boolean
      remainingDay:
        title: Remainingday
        type: string
        readOnly: true
      remainingNumber:
        title: Remainingnumber
        type: integer
      expiryDate:
        title: Expirydate
        type: string
        format: date
      latitude:
        title: Latitude
        type: number
      longitude:
        title: Longitude
        type: number
      distance:
        title: Distance
        type: string
        readOnly: true
      type:
        title: Type
        type: string
        readOnly: true
      bookmarkId:
        title: Bookmarkid
        type: string
        readOnly: true
  UserBookmark:
    required:
      - ticket
    type: object
    properties:
      id:
        title: ID
        description: Bookmark ID
        type: integer
        readOnly: true
      ticket:
        $ref: '#/definitions/TicketList'
  UserBuy:
    required:
      - ticket
    type: object
    properties:
      id:
        title: ID
        description: Buy ID
        type: integer
        readOnly: true
      date:
        title: Date
        description: "\uAD6C\uB9E4\uC77C\uC2DC"
        type: string
        format: date-time
        x-nullable: true
      ticket:
        $ref: '#/definitions/TicketList'
  UserImage:
    type: object
    properties:
      image:
        title: Image
        type: string
        readOnly: true
        x-nullable: true
        format: uri
